
.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#loading {
	-fx-background-image: url("../Texture2D_sorted/Misti/loading.gif");
	-fx-background-size: 100% 100%;
}

#blackScreen {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/blackScreen.jpg");
	-fx-background-size: 100% 100%;
}

.root {
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

#head {
	-fx-background-image: url("../Texture2D_sorted/Misti/icon_player.png");
	-fx-background-size: 100% 100%;
}

#textBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/clp_textbarv2.png");
    -fx-text-inner-color: white;
    -fx-background-color: transparent;
	-fx-background-size: 100% 100%;
}

#labelBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/popupnoborder.png");
}

#sidebarBg{
     -fx-background-image: url('../Texture2D_sorted/Backgrounds/bg_without_leaf.png');
  }

#frame{
     -fx-background-image: url('../Texture2D_sorted/Icone_dei/Contorni/frame_white.png');
     -fx-background-size: 100% 100%;
  }

#buttonConfirm{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/cm_btn_blue.png');
     -fx-background-size: 100% 100%;
  }

#buttonMove{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/cm_btn_coral.png');
     -fx-background-size: 100% 100%;
  }

#buttonExtraMove{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/cm_btn_green.png');
     -fx-background-size: 100% 100%;
  }

#buttonTry{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/blue_board.png');
}

#buttonTry2{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/purple_board.png');
}

#buttonTry3{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/coral_board.png');
}

#buttonTry4 {
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/gree_board.png');
}

#playerBLUE{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderblueplayer2.png');
}
#playerBROWn{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderbrownplayer2.png');
}
#playerWHITE{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderwhiteplayer2.png');
}
