
.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#loading {
	-fx-background-image: url("../Texture2D_sorted/Misti/loading.gif");
	-fx-background-size: 100% 100%;
}

#blackScreen {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/blackScreen.jpg");
	-fx-background-size: 100% 100%;
}

.root {
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

#head {
	-fx-background-image: url("../Texture2D_sorted/Misti/icon_player.png");
	-fx-background-size: 100% 100%;
}

#textBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/clp_textbarv2.png");
    -fx-text-inner-color: white;
    -fx-background-color: transparent;
	-fx-background-size: 100% 100%;
}

#labelBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/popupnoborder.png");
}

#sidebarBg{
     -fx-background-image: url('../Texture2D_sorted/Backgrounds/bg_without_leaf.png');
  }

#frame{
     -fx-background-image: url('../Texture2D_sorted/Icone_dei/Contorni/frame_white.png');
     -fx-background-size: 100% 100%;
  }

#buttonConfirm{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/cm_btn_blue.png');
     -fx-background-size: 100% 100%;
  }

#buttonMove{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/cm_btn_coral.png');
     -fx-background-size: 100% 100%;
  }

#buttonExtraMove{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/cm_btn_green.png');
     -fx-background-size: 100% 100%;
  }


#playerBLUE{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderblueplayer2.png');
}
#playerBROWN{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderbrownplayer2.png');
}
#playerWHITE{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderwhiteplayer2.png');
}
#b{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/borderblueplayer.png');
}

#a {
    -fx-background-image: url('../Texture2D_sorted/Icone_dei/FullBody_senza_sfondo/APOLLO.png');
}

#try1{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/try1.png');
}

#brownbig{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/bigbrown.png');
}

#whitebig{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/bigwhite.png');
}

#bluebig{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/bigblue.png');
}

#button1{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/gree_board.png');
}
#button2{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/purple_board.png');
}
#button3{
     -fx-background-image: url('../Texture2D_sorted/Pulsanti/PulsantiBoard/coral_board.png');
 }

#c {
    -fx-background-image: url('../Texture2D_sorted/Icone_dei/FullBody_senza_sfondo/APOLLO2.png');
}

#info{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/info2.png');
}

#crown{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/crown.jpg');
}

#currentplayer{
    -fx-background-image: url('../Texture2D_sorted/Pulsanti/currentplayer.png');
}

#winner{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/winningscreen2.png');
}

#loser{
    -fx-background-image: url('../Texture2D_sorted/Backgrounds/losingscreen.png');
}