.root { 
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#whiteborder {
 -fx-background-image: url("../Texture2D_sorted/Icone_dei/contorni/white_c_frame.png");
}

#blueborder {
 -fx-background-image: url("../Texture2D_sorted/Icone_dei/contorni/blue_c_frame.png");
}

#yellowborder {
 -fx-background-image: url("../Texture2D_sorted/Icone_dei/contorni/yellow_c_frame.png");
}


#rightpane {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/bg_panelEdgeRight2.png");
}

#wholepane {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/allselection.png");
}

#bgpane{
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/bg_panelMid.png");
}

#godframename {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/gameGodFrameName2.png");
}

#selectedframename {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/gameGodFrameName1.png");
}

#selectbutton {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_blue.png");
}

#selectbutton:disabled {
  -fx-opacity: 1.0 ;
  -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_small_gray.png");
}

#selectbuttonpressed {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_blue_pressed.png");
}

#cardBackground{
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/PlayerUIPanel2v4.png");
}

#godBackground{
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/PlayerUIPanel2v5.png");
}


#APOLLO{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/APOLLO.png");
}

#DEMETER{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/DEMETER.png");
}

#ATHENA{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ATHENA.png");
}

#ATLAS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ATLAS.png");
}

#HEPHAESTUS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/HEPHAESTUS.png");
}

#MINOTAUR{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/MINOTAUR.png");
}

#ARTEMIS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ARTEMIS.png");
}

#PAN{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/PAN.png");
}

#PROMETHEUS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/PROMETHEUS.png");
}

#POSEIDON{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/POSEIDON.png");
}

#HERA{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/HERA.png");
}

#TRITON{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/TRITON.png");
}

#HESTIA{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/HESTIA.png");
}

#ZEUS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ZEUS.png");
}

#apollopower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/APOLLO.png");
}

#demeterpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/DEMETER.png");
}

#athenapower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ATHENA.png");
}

#atlaspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ATLAS.png");
}

#tritonpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/TRITON.png");
}

#artemispower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ARTEMIS.png");
}

#zeuspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ZEUS.png");
}

#herapower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/HERA.png");
}

#hestiapower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/HESTIA.png");
}

#hephaestuspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/EFESTO.png");
}

#prometheuspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/PROMETHEUS.png");
}

#poseidonpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/POSEIDON.png");
}

#minotaurpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/MINOTAUR.png");
}

#panpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/PAN.png");
}

#labelBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/popupnoborder.png");
}

#godNameLabel{
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/godnametag.png");
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-alignment: center;
}

#playerNameLabel{
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/om_nameTagActiveGreen.png");
    -fx-font-size: 13;
}

#infoButton {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/info.png");
}

#infoPressed {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/infopressed.png");
}

#bggodselection {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/bggod.png");
}

/*
#backbutton {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_brown.png");
}
 */

#descriptionLabel{
    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}
#conditionLabel{
    -fx-font-size: 19;
    -fx-alignment: center;
}

#playerbuttonpressed {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_green_pressed.png");
}

#playerbutton {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_green.png");
}
