.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#selectbutton {
    -fx-background-image: url("/Images/Buttons/btn_blue.png");
}

#selectbutton:disabled {
    -fx-opacity: 1.0;
    -fx-background-image: url("/Images/Buttons/btn_small_gray.png");
}

#selectbuttonpressed {
    -fx-background-image: url("/Images/Buttons/btn_blue_pressed.png");
}

#cardBackground {
    -fx-background-image: url("/Images/Backgrounds/PlayerUIPanel2v4.png");
}

#godBackground {
    -fx-background-image: url("/Images/Backgrounds/PlayerUIPanel2v5.png");
}

#labelBack {
    -fx-background-image: url("/Images/Backgrounds/popupnoborder.png");
}

#godNameLabel {
    -fx-background-image: url("/Images/Backgrounds/godnametag.png");
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-alignment: center;
}

#playerNameLabel {
    -fx-background-image: url("/Images/Backgrounds/om_nameTagActiveGreen.png");
    -fx-font-size: 13;
}

#infoButton {
    -fx-background-image: url("/Images/Backgrounds/info.png");
}

#infoPressed {
    -fx-background-image: url("/Images/Backgrounds/infopressed.png");
}

#bggodselection {
    -fx-background-image: url("/Images/Backgrounds/bggod.png");
}

#descriptionLabel {
    -fx-font-size: 15;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}

#conditionLabel {
    -fx-font-size: 19;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: black;
}


#playerbuttonpressed {
    -fx-background-image: url("../Images/Buttons/btn_green_pressed.png");
}

#playerbutton {
    -fx-background-image: url("../Images/Buttons/btn_green.png");
}

#actionlabel {
    -fx-font-size: 17;
    -fx-font-weight: bold;
}