#APOLLO{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/APOLLO.png");
}

#DEMETER{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/DEMETER.png");
}

#ATHENA{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ATHENA.png");
}

#ATLAS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ATLAS.png");
}

#HEPHAESTUS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/HEPHAESTUS.png");
}

#MINOTAUR{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/MINOTAUR.png");
}

#ARTEMIS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ARTEMIS.png");
}

#PAN{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/PAN.png");
}

#PROMETHEUS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/PROMETHEUS.png");
}

#POSEIDON{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/POSEIDON.png");
}

#HERA{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/HERA.png");
}

#TRITON{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/TRITON.png");
}

#HESTIA{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/HESTIA.png");
}

#ZEUS{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/FullBody_con_sfondo/ZEUS.png");
}

#apollopower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/APOLLO.png");
}

#demeterpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/DEMETER.png");
}

#athenapower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ATHENA.png");
}

#atlaspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ATLAS.png");
}

#tritonpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/TRITON.png");
}

#artemispower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ARTEMIS.png");
}

#zeuspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/ZEUS.png");
}

#herapower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/HERA.png");
}

#hestiapower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/HESTIA.png");
}

#hephaestuspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/EFESTO.png");
}

#prometheuspower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/PROMETHEUS.png");
}

#poseidonpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/POSEIDON.png");
}

#minotaurpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/MINOTAUR.png");
}

#panpower{
    -fx-background-image: url("../Texture2D_sorted/Icone_dei/GodPowerv2/PAN.png");
}