#APOLLO {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/APOLLO.png");
}

#DEMETER {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/DEMETER.png");
}

#ATHENA {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ATHENA.png");
}

#ATLAS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ATLAS.png");
}

#HEPHAESTUS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/HEPHAESTUS.png");
}

#MINOTAUR {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/MINOTAUR.png");
}

#ARTEMIS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ARTEMIS.png");
}

#PAN {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/PAN.png");
}

#PROMETHEUS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/PROMETHEUS.png");
}

#POSEIDON {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/POSEIDON.png");
}

#HERA {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/HERA.png");
}

#TRITON {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/TRITON.png");
}

#HESTIA {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/HESTIA.png");
}

#ZEUS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ZEUS.png");
}

#apollopower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/APOLLO.png");
}

#demeterpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/DEMETER.png");
}

#athenapower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/ATHENA.png");
}

#atlaspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/ATLAS.png");
}

#tritonpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/TRITON.png");
}

#artemispower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/ARTEMIS.png");
}

#zeuspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/ZEUS.png");
}

#herapower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/HERA.png");
}

#hestiapower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/HESTIA.png");
}

#hephaestuspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/EFESTO.png");
}

#prometheuspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/PROMETHEUS.png");
}

#poseidonpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/POSEIDON.png");
}

#minotaurpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/MINOTAUR.png");
}

#panpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers/PAN.png");
}