#APOLLO {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/APOLLO.png");
}

#DEMETER {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/DEMETER.png");
}

#ATHENA {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ATHENA.png");
}

#ATLAS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ATLAS.png");
}

#HEPHAESTUS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/HEPHAESTUS.png");
}

#MINOTAUR {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/MINOTAUR.png");
}

#ARTEMIS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ARTEMIS.png");
}

#PAN {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/PAN.png");
}

#PROMETHEUS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/PROMETHEUS.png");
}

#POSEIDON {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/POSEIDON.png");
}

#HERA {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/HERA.png");
}

#TRITON {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/TRITON.png");
}

#HESTIA {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/HESTIA.png");
}

#ZEUS {
    -fx-background-image: url("../Images/Gods_icons/Gods_with_bg/ZEUS.png");
}

#apollopower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/APOLLO.png");
}

#demeterpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/DEMETER.png");
}

#athenapower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/ATHENA.png");
}

#atlaspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/ATLAS.png");
}

#tritonpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/TRITON.png");
}

#artemispower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/ARTEMIS.png");
}

#zeuspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/ZEUS.png");
}

#herapower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/HERA.png");
}

#hestiapower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/HESTIA.png");
}

#hephaestuspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/EFESTO.png");
}

#prometheuspower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/PROMETHEUS.png");
}

#poseidonpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/POSEIDON.png");
}

#minotaurpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/MINOTAUR.png");
}

#panpower {
    -fx-background-image: url("../Images/Gods_icons/Gods_powers_v2/PAN.png");
}