.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#loading {
    -fx-background-image: url("../Texture2D_sorted/Misti/loading.gif");
    -fx-background-size: 100% 100%;
}

#blackScreen {
    -fx-background-image: url("../Texture2D_sorted/Backgrounds/blackScreen.jpg");

    -fx-background-size: 100% 100%;
}