.root { 
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#bodybg {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/lobby_1040x700.png");
}

#textBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/clp_textbarv2.png");
    -fx-text-inner-color: white;
    -fx-background-color: transparent;
}

#otherBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/bg_panelMid.png");
}

#head {
	-fx-background-image: url("../Texture2D_sorted/Misti/icon_player.png");
}

#confirmButtonBg {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_blue.png");
}

#labelBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/Santorini_GenericPopup.png");
}


#colorBackground {
	-fx-background-image: url("../Texture2D_sorted/Pulsanti/Santorini_GenericPopup_okbtn.png");
}

#colorBlue {
	-fx-background-image: url("../Texture2D_sorted/Misti/blue.jpg");
}

#colorBrown {
	-fx-background-image: url("../Texture2D_sorted/Misti/brown.jpg");
}

#colorWhite {
	-fx-background-image: url("../Texture2D_sorted/Misti/white.jpg");
}

#buttonReleased {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_blue.png");
}

#buttonPressed {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_blue_pressed.png");
}

#buttonReleasedColor {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/Santorini_GenericPopup_okbtn.png");
}

#buttonPressedColor {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/Santorini_GenericPopup_okbtn_pressed.png");
}

#confirmButtonBg:disabled, #confirmButtonBg:disabled > * {
  -fx-opacity: 1.0 ;
  -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_small_gray.png");
}





