.root { 
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

.fullbackground {
    -fx-background-size: 100% 100%;
}

.invisiblebackground {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.bodybg {
	-fx-background-size: 100% 100%;
	-fx-background-image: url("../Texture2D_sorted/Title/titleBack.png");
}

.textBack {
	-fx-background-size: 100% 100%;
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/clp_textbar.png");
}

.labelBack {
	-fx-background-image: url("../Texture2D_sorted/Backgrounds/Santorini_GenericPopup.png");
	-fx-background-size: 100% 100%;
}

.confirmButtonBg {
    -fx-background-image: url("../Texture2D_sorted/Pulsanti/btn_blue.png");
	-fx-background-size: 100% 100%;
}
